<section class="about">
<div class="container">
      <h1 class="text-center text-shadow mt-5">ESRA ÇAVDAR</h1>
      <div class="row mt-5">
        <div class="col-lg-9 col-md-12 p-5">
          <br>
          <h4>Kişisel Özet</h4>
          <br>
          <p>&nbsp;&nbsp;&nbsp;Çanakkale Onsekiz Mart Üniversitesi Bilgisayar Mühendisliği 4. sınıf öğrencisiyim. Bitirme projemin ilkinde yani geçen dönem yazılım şirketi web sitesi tasarımı yaptığımda frontend alanında kendimi geliştirmeye karar vermiştim. Bunun için kendi çabalarımla araştırıp öğrendiğim bilgilerin kalıcılığını sağlamak ve daha fazla şey öğrenmek için iş arayışındaydım. Sizin de geri dönüşünüz ile ilk özel tecrübelerimi projenizle gerçekleştirmiş oldum. </p>
          <br><br>
          <h4>Eğitim </h4><br>
          <p><i class="fa-sharp fa-solid fa-code fa-lg mx-3"></i> <b>Namık Kemal Üniversitesi</b> - Bilgisayar Programcılığı - 2016/2018</p>
          <p><i class="fa-sharp fa-solid fa-code fa-lg mx-3"></i> <b> Çanakkale Onsekiz Mart Üniversitesi </b>- Bilgisayar Mühendisliği - 2019/ Devam Ediyor</p>

          <br><br>
          <h4>Çalışma Geçmişi </h4><br>
          <p>Yazılım sektöründe daha önce bir işte personel olarak görev yapmadım. Stajlarımdan bahsedecek olursam , lisans stajımı henüz yapmamakla birlikte önlisans stajlarımın ikisini de kamuda yaptım. Bunlar: </p>
          <p><i class="fa-solid fa-caret-right mx-3 fa-lg"></i>Esenyurt Belediyesi- Bilgi İşlem Departmanı </p>
          <p><i class="fa-solid fa-caret-right mx-3 fa-lg"></i>Tekirdağ Valiliği- Bilgi İşlem Departmanı </p>

        </div>
        <div class="col-lg-3 col-md-12 bg-light p-5">
            <h5>İletişim</h5>
            <hr>
            <p><b>Telefon</b>  <i class="fa-solid fa-phone fa-lg mx-3"></i></p>
            <p>0534 883 0112</p>
            <p><b>Email</b> <i class="fa-solid fa-envelope fa-lg mx-3"></i></p>
            <p>esra.814@hotmail.com</p>
            <p><b>Adres</b> <i class="fa-solid fa-location-dot fa-lg mx-3"></i></p>
            <p>Çanakkale</p>
            <br><br>

            <h5>Beceriler</h5>
            <hr>
            <ul>
              <li>Programlama</li>
              <li>Teb Tasarım</li>
              <li>Mantıksal Düşünme ve Sorun Çözme</li>
              <li>Dokümanlama</li>
              <li>Sözlü ve Yazılı İletişim</li>
              <li>HTML, CSS, JAVASCRIPT, C#, SQL hakkında bilgi sahibi</li>
            </ul>

            <br><br>

            <h5>Yabancı Dil</h5>
            <hr>
            <p>İngilizce <i class="fa-sharp fa-solid fa-arrow-right mx-3"></i> A2 </p>
        </div>
      </div>
</div>
</section>
