<section class="politics">
  <div class="container">

  <div class="row">

    <div class="col-lg-9 col-md-12">
      <h5 class="news-title-two">Politics</h5>
      <div class="row mb-4" *ngFor="let p of politicsNewsDisplay | paginate: { itemsPerPage: 6, currentPage: page,totalItems: totalLength }">
        <div class="col-9 p-3">
          <h6>{{p.title}}</h6>
          <p>{{p.description}}</p>
          <a href="" class="text-dark ">{{p.author}}</a> <span class="text-muted"> in </span> <a href="" class="text-dark">News</a>
          <p class="soluk-yazi">{{p.publishedAt}}<i class="fa-solid fa-circle dot"></i> 3 min read <i class="fa-solid fa-star star"></i></p>
        </div>
        <div class="col-3"><img src="{{p.urlToImage}}" alt="" class="small_img"></div>
      </div>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>


    <div class="col-lg-3 col-md-12">
      <h5 class="news-title-two">Popular Posts</h5>
      <div class="row" >
        <!-- <div class="col-2 big-figure">
          01
        </div> -->
        <div class="col-12" *ngFor="let pop of popularNewsDisplay">
          <h6>{{pop.title}}</h6>
          <a href="" class="text-dark ">{{pop.author}}</a> <span class="text-muted"> in </span> <a href="" class="text-dark">News</a>
          <p class="soluk-yazi"> {{pop.publishedAt}}<i class="fa-solid fa-circle dot"></i> 3 min <i class="fa-solid fa-star star"></i></p>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
